@use '../../styles/vars' as vars;

.Activity{
  border: 10px solid vars.$secondary-color;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  background-color: vars.$secondary-color-light;
  min-width: 40%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}